:root{
  /* primary */
  --Lightred: hsl(0, 100%, 67%);
  --Orangeyyellow: hsl(39, 100%, 56%);
  --Greenteal: hsl(166, 100%, 37%);
  --Cobaltblue: hsl(234, 85%, 45%);

  /* gradients background */
  --Lightslateblue: hsl(252, 100%, 67%);
  --Lightroyalblue: hsl(241, 81%, 54%);

  /* gradients circle */
  --Violetblue: hsla(256, 72%, 46%, 1);
  --Persianblue: hsla(241, 72%, 46%, 0);

  /* Neutrals */
  --White: hsl(0, 0%, 100%);
  --Paleblue: hsl(221, 100%, 96%);
  --Lightlavender: hsl(241, 100%, 89%);
  --Darkgrayblue: hsl(224, 30%, 27%);
}

body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Outfit";
  background-color: var(--Paleblue);
}

main{
  display: flex;
  background-color: var(--White);
  border-radius: 1rem;
}

.blue-container{
  min-width: 250px;
  background-image: linear-gradient(var(--Lightslateblue),var(--Lightroyalblue));
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}



.blue-container h4{
  color: var(--Lightlavender);

  margin-bottom: 20px;
}

.blue-container .circle{
  min-height: 130px;
  min-width: 130px;
  max-height: 200px;
  max-width: 200px;
  background-image: linear-gradient(var(--Violetblue),var(--Persianblue));
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
}

.circle .score{
  color: var(--White);
  font-size: 3rem;
  padding: 0px;
  margin: 0px;
}

.circle .totalScore{
  color: var(--Lightlavender);
  font-size: .7rem;
  opacity: .6;
  margin-top: -12px;
}

.performance{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.performance h3{
  color: var(--White);
  margin-bottom: 10px;
}

.performance p{
  color: var(--Lightlavender);
  font-size: .8rem;
  text-align: center;
  max-width: 180px;
}

.white-container{
  min-width: 250px;
  background-color: var(--White);
  border-radius: 1rem;
  padding: 30px;
}

.white-container h4{
  margin-bottom: 20px;
}

.lightred{
  background-color: hsla(0, 100%, 67%,.07);
}

.lightred div span{
  color: var(--Lightred);
}

.lightyellow{
  background-color: hsla(39, 100%, 56%,.07);
}

.lightyellow div span{
  color: var(--Orangeyyellow);
}

.lightgreen{
  background-color: hsla(166, 100%, 37%,.07);
}

.lightgreen div span{
  color: var(--Greenteal);
}

.lightblue{
  background-color: hsla(234, 85%, 45%,.07);
}

.lightblue div span{
  color: var(--Cobaltblue);
}


.summary-component{
  display: flex;
  justify-content: space-between;
  padding: 8px;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: .75rem;
}

.summary-component div{
  display: flex;
  align-items: center;
}

.summary-component div img{
  width: 13px;
  margin-right: 5px;
}

.summary-component div span{
 
  font-weight: 500;
}

.summary-component p{

  font-weight: 500;
}

.summary-component p span{
  color: gray;
}

.white-container button{
  border: none;
  margin-top: 20px;
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  background-color: var(--Darkgrayblue);
  color: var(--White);
  font-size: .75rem;
}