:root{
  /* primary */
  --Lightred: hsl(0, 100%, 67%);
  --Orangeyyellow: hsl(39, 100%, 56%);
  --Greenteal: hsl(166, 100%, 37%);
  --Cobaltblue: hsl(234, 85%, 45%);

  /* gradients background */
  --Lightslateblue: hsl(252, 100%, 67%);
  --Lightroyalblue: hsl(241, 81%, 54%);

  /* gradients circle */
  --Violetblue: hsla(256, 72%, 46%, 1);
  --Persianblue: hsla(241, 72%, 46%, 0);

  /* Neutrals */
  --White: hsl(0, 0%, 100%);
  --Paleblue: hsl(221, 100%, 96%);
  --Lightlavender: hsl(241, 100%, 89%);
  --Darkgrayblue: hsl(224, 30%, 27%);
}

body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Outfit";
}

main{
  display: flex;
}

.blue-container{
  height: 200px;
  min-width: 200px;
  background-image: linear-gradient(var(--Lightslateblue),var(--Lightroyalblue));
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



.blue-container h4{
  color: var(--Lightlavender);
  margin-top: 20px;
  margin-bottom: 20px;
}

.blue-container .circle{
  height: 100px;
  width: 100px;
  background-image: linear-gradient(var(--Violetblue),var(--Persianblue));
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.white-container{
  height: 200px;
  min-width: 160px;
  background-color: gray;
}